/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Nunito Sans";
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  /* filter: invert(1); */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.max-h-screen-min-nav {
  max-height: calc(100vh - 80px);
}

.min-h-screen-min-nav {
  min-height: calc(100vh - 80px);
}
.h-screen-min-nav {
  height: calc(100vh - 80px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.text-gradient {
  background: -webkit-linear-gradient(#3296fa, #2563eb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type="time"] {
  width: 180px;
}

.custom-text-input,
.custom-email-input,
textarea {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-color: #27272a !important; 
  color: #e4e4e7 !important; 
  border: 1px solid #3f3f46 !important; 
}

.custom-text-input:focus,
.custom-email-input:focus,
textarea:focus {
  background-color: #3f3f46 !important; 
  outline: none !important;
  box-shadow: 0 0 0 2px #71717a !important; 
}

.custom-text-input:hover,
.custom-email-input:hover,
textarea:hover {
  transform: scale(1.05);
}


input[type="time"]::-webkit-calendar-picker-indicator {
  /* filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg); */
  transform: translateX(8px) translateY(0px) scale(1.2);
  /* opacity: 0; */
  display: none;
  z-index: 2;
  outline: 1px solid #7c94eb !important;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
input[type="time"]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
input[type="time"]::-webkit-datetime-edit-text {
  padding: 0;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
input[type="time"]::-webkit-datetime-edit-hour-field {
  padding: 0;
}

/* Minute */
input[type="time"]::-webkit-datetime-edit-minute-field {
  padding: 0;
}

/* AM/PM */
input[type="time"]::-webkit-datetime-edit-ampm-field {
  padding: 0px;
  padding-right: 2px;
  margin-right: -2px;
  padding-left: 2px;
  margin-left: -2px;
}

.upscale-img {
  image-rendering: -webkit-optimize-contrast; /* Older versions of Chrome/Safari */
  image-rendering: crisp-edges; /* Pixelated look, good for small icons */
  image-rendering: pixelated; /* For a retro look, if applicable */
}

.h-scroll-content {
  white-space: nowrap;
  overflow-x: scroll; /* or overflow-x: hidden; */
  /* overflow-y: hidden; */
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}

.font-times {
  font-family: "Times", serif;
}

/* .bg-color-gradient {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 0.284987745098039) 0%,
    rgba(253, 29, 29, 0.2312718837535014) 50%,
    rgba(252, 176, 69, 0.2424763655462185) 100%
  );
} */

.bg-color-gradient {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(220, 220, 220, 0.3) 25%,
    rgba(192, 192, 192, 0.4) 50%,
    rgba(169, 169, 169, 0.5) 75%,
    rgba(211, 211, 211, 0.6) 100%
  );
  background-size: 400% 400%;
  animation: shimmer 10s ease infinite;
}

.bg-dark-color-gradient {
  background: linear-gradient(
    135deg,
    rgba(91, 91, 91, 0.2) 0%,
    rgba(80, 80, 80, 0.3) 25%,
    rgba(65, 65, 65, 0.4) 50%,
    rgba(50, 50, 50, 0.5) 75%,
    rgba(40, 40, 40, 0.6) 100%
  );
  background-size: 400% 400%;
  animation: shimmer 10s ease infinite;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-light-gradient {
  background: rgb(12, 13, 24);
  background: linear-gradient(
    90deg,
    rgba(12, 13, 24, 0.284987745098039) 0%,
    rgba(12, 13, 24, 0.2312718837535014) 50%,
    rgba(12, 13, 24, 0.2424763655462185) 100%
  );
}

.bg-dark-gradient {
  background: rgb(3, 3, 4);
  background: linear-gradient(
    to bottom,
    rgba(3, 3, 4, 0) 0%,
    rgba(3, 3, 4, 0.284987745098039) 35%,
    rgba(3, 3, 4, 0.712718837535014) 60%,
    rgba(3, 3, 4, 0.812718837535014) 75%,
    rgba(3, 3, 4, 0.954763655462185) 100%
  );
}

.bg-top-dark-gradient {
  background: rgb(3, 4, 4);
  background: linear-gradient(
    -20deg,
    rgba(3, 4, 4, 0) 0%,
    rgba(3, 4, 4, 0) 0%,
    rgba(3, 4, 4, 0) 0%,
    rgba(3, 4, 4, 0) 0%,
    rgba(3, 4, 4, 0) 0%,
    rgba(3, 4, 4, 0) 0%,
    rgba(3, 4, 4, 0) 0%,
    rgba(3, 4, 4, 0) 0%,
    rgba(3, 4, 4, 0) 0%,
    rgba(3, 4, 4, 0.184987745098039) 2%,
    rgba(3, 4, 4, 0.754763655462185) 100%
  );
}

.bg-button-gradient {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 0.084987745098039) 0%,
    rgba(253, 29, 29, 0.0312718837535014) 50%,
    rgba(252, 176, 69, 0.0424763655462185) 100%
  );
}

.grayscale-card {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}

.grayscale-card-hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

.nav-item {
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.nav-item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px; 
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}

.nav-item:hover::after,
.nav-item-active::after {
  width: 100%;
}

.nav-item-active {
  color: #fff;
}


/* old styling
.nav-item {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-image: repeating-linear-gradient(
      135deg,
      #fcfcfc 0 10px,
      #fafafa 0 20px,
      #f9f9f9 0 30px
    )
    2;
  -webkit-mask: conic-gradient(
        from 180deg at top 1px right 1px,
        #0000 90deg,
        #000 0
      )
      var(--_i, 200%) 0 /200% var(--_i, 1px) border-box no-repeat,
    conic-gradient(at bottom 1px left 1px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 1px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.3s, -webkit-mask-position 0.3s 0.3s;
}
.nav-item:hover {
  --_i: 100%;
  color: #fff;
  transition: 0.3s, -webkit-mask-size 0.3s 0.3s;
}

.nav-item-active {
  --_i: 100%;
  color: #fff;
  transition: 0.3s, -webkit-mask-size 0.3s 0.3s;
}
*/

.drop-shadow-dark {
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
}

.logo-circles {
  position: relative;
}
.logo-circles > div {
  animation: growAndFade 3s infinite ease-out;
  background-color: black;
  border-radius: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.logo-circles .circle1 {
  animation-delay: 1s;
}
.logo-circles .circle2 {
  animation-delay: 2s;
}
.logo-circles .circle3 {
  animation-delay: 3s;
}

@keyframes growAndFade {
  0% {
    opacity: 0.25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.text-shadow-sm {
  text-shadow: 1px 1px 5px rgba(12, 13, 24, 0.5);
}

.truncate-2-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate-3-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.loading-overlay {
  position: fixed; /* Or absolute, depending on your layout */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other content */
}

.loading-logo {
  animation: fadeIn 1s ease-in-out; /* Adjust duration as needed */
  max-width: 80%; /* Adjust as needed based on your logo's size */
  max-height: 80%; /* Adjust as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}